{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">

    <div class="card tracker-card p-4">
      <h3 class="fw-bold mb-4">Update Topic</h3>

     <form method="post">
  {% csrf_token %}

  {{ form.non_field_errors }}

  <div class="mb-3">
    {{ form.subject.label_tag }}
    {{ form.subject }}
    {{ form.subject.errors }}
  </div>

  <div class="mb-3">
    {{ form.title.label_tag }}
    {{ form.title }}
    {{ form.title.errors }}
  </div>

  <div class="mb-4">
    {{ form.progress.label_tag }}
    {{ form.progress }}
    {{ form.progress.errors }}
  </div>

  <button class="btn btn-primary w-100 btn-lg">
    Update Topic
  </button>
</form>

    </div>

  </div>
</div>
{% endblock %}
